# 11.1

In [5]:
%%writefile zoo.py

def hours():
    print('Open 9-5 daily')

Writing zoo.py

In [6]:
import zoo

In [7]:
zoo.hours()

Open 9-5 daily

# 11.2

In [9]:
import zoo as menagerie

In [10]:
menagerie.hours()

Open 9-5 daily

# 16.8

In [18]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('CREATE TABLE books (title TEXT, author TEXT, year INTEGER)')

conn.commit()

In [21]:
from sqlalchemy import create_engine, select, text
import sqlite3

engine = create_engine('sqlite:///books.db')

connection = engine.connect()

table_name = 'books'
columns = ['title', 'author', 'year']
sample_records = [
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925),
    ('To Kill a Mockingbird', 'Harper Lee', 1960),
    ('1984', 'George Orwell', 1949)
]

# Insert sample records into the books table
for record in sample_records:
    connection.execute(f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES (?, ?, ?)", record)

# Select and print the title column from the book table in alphabetical order
stmt = select([text('title')]).select_from(text(table_name)).order_by(text('title'))
result = connection.execute(stmt).fetchall()

for row in result:
    print(row[0])

1984
The Great Gatsby
To Kill a Mockingbird

In [22]:
stmt = select([text('title'), text('author')]).select_from(text(table_name)).order_by(text('title'))
result = connection.execute(stmt).fetchall()

for row in result:
    print(row[0], "-", row[1])

1984 - George Orwell
The Great Gatsby - F. Scott Fitzgerald
To Kill a Mockingbird - Harper Lee